<?php

require_once 'app/start.php';

use PayPal\Api\Payer;
use PayPal\Api\ItemList;
use PayPal\Api\Item;
use PayPal\Api\Details;
use PayPal\Api\Amount;
use PayPal\Api\Transaction;
use PayPal\Api\RedirectUrls;
use PayPal\Api\Payment;

class procesarCompra {

    function index($apiContext) {
        $items = $_POST['items'];
        (float) $precioDeEnvio = 0;
        (float) $subTotal = 0;
        (float) $total = $subTotal + $precioDeEnvio;
        $currency = $items[0]['currency'];

        
        return '';
    }

}

$start = new start();
$apiContext = $start->apiContext();

$pC = new procesarCompra();
$url = $pC->index($apiContext);
echo $url;
